body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #967bb6;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.nav img {
  max-width: 60px;
  max-height: 60px;
  margin-left: 10px;
}

.menu {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.menu:hover {
  transform: scale(1.1);
}

.next {
  text-align: center;
  color: black;
}

.next p {
  font-size: 45px;
}

.button {
  text-align: center;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  text-align: center;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
      background-position: 0 0;
  }
  50% {
      background-position: 400% 0;
  }
  100% {
      background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-85:hover {
  transform: scale(1.1);
}

.modal {
  display: none;
  /* Hidden by default */
  text-align: center;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-content {
  text-align: center;
  background-color: gray;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 6px solid #a9a9a9;
  width: 80%;
  height:80%;

}

#login3,#login1,#login2 {
  margin-bottom: 50px;
  border-radius: 100px;
  text-align: center;
  border: none;
  width: 70%;
  height: 50px;
  background-color: #967bb6;
  /* Change color as needed */
  cursor: pointer;
}

#login3:hover {
  transform: scale(1.1);
}

#login1:hover {
  transform: scale(1.1);
}
#login2:hover {
  transform: scale(1.1);
}
#login3 img {
  width: 30px;
  /* Adjust spacing between icon and text */
}
#login1 img {
  width: 30px;
  /* Adjust spacing between icon and text */
}
#login2 img {
  width: 30px;
  /* Adjust spacing between icon and text */
}

/* Media Query for smartphones */
@media only screen and (max-width: 600px) {
  .nav {
      flex-direction: column;
      align-items: center;
  }

  .nav img {
      margin: 10px 0;
  }

  .button-85,
  #login {
      width: 80%;
      margin: 10px auto;
  }
}
